## Entrega 1

#### Carga de librerias

In [2]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

#### Data Set 1 - Prediccion de precio de celulares
#### Descripción:
El archivo csv contiene 21 columnas. La descripción de cada columna es la siguiente:

   - BATTERY POWER: Duración en mA/h
   - Blue: Si tiene o no Blueth
   - Clock speed: Velocidad del microprocesador
   - Dual SIM: Si tiene o no dual SIM
   - FC: Mega pixeles de la camara frontal
   - four_g: Si tiene 4G o no
   - int_memory: Memoria interna en GB
   - M_deep: grosor en cm
   - mobile_wt: Peso
   - n_cores: Cantidad de cores del proesador
   - pc: Mega pixeles Camara trasera 
   - px_heght: resolucion de altura en pixeles
   - px_width: resolucion de ancho en pixeles
   - RAM: memoria RAM en MB
   - sc_h: alto de la pantalla en cm
   - sc_w: ancho de la pantalla en cm
   - talk_time: duración de la bateria
   - three_g: si tiene o no 3g
   - touch_screen: si tiene touch o no
   - wifi: si tiene o no Wifi
   - Price_Range: Rango de Precios

In [3]:
df_DataSet1 = pd.read_csv('/workspaces/Coder/data/raw/Price_Mobile.xls')
df_DataSet1.shape

(2000, 21)

#### Posibles Aplicaciones
1. Clasificación de gama de celulares (Rango de precios) segun caracteristicas:

Pixeles cámara / Nucleos / Resolución de pantalla / Velocidad del procesador / Dual sim / RAM. 

Debería hacerse una selección de variables para ver cuales son las mas representativas.

In [4]:
df_DataSet1

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,794,1,0.5,1,0,1,2,0.8,106,6,...,1222,1890,668,13,4,19,1,1,0,0
1996,1965,1,2.6,1,0,0,39,0.2,187,4,...,915,1965,2032,11,10,16,1,1,1,2
1997,1911,0,0.9,1,1,1,36,0.7,108,8,...,868,1632,3057,9,1,5,1,1,0,3
1998,1512,0,0.9,0,4,1,46,0.1,145,5,...,336,670,869,18,10,19,1,1,1,0
1999,510,1,2.0,1,5,1,45,0.9,168,6,...,483,754,3919,19,4,2,1,1,1,3

In [5]:
df_DataSet1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  2000 non-null   int64
 1   blue           2000 non-null   int64
 2   clock_speed    2000 non-null   float64
 3   dual_sim       2000 non-null   int64
 4   fc             2000 non-null   int64
 5   four_g         2000 non-null   int64
 6   int_memory     2000 non-null   int64
 7   m_dep          2000 non-null   float64
 8   mobile_wt      2000 non-null   int64
 9   n_cores        2000 non-null   int64
 10  pc             2000 non-null   int64
 11  px_height      2000 non-null   int64
 12  px_width       2000 non-null   int64
 13  ram            2000 non-null   int64
 14  sc_h           2000 non-null   int64
 15  sc_w           2000 non-null   int64
 16  talk_time      2000 non-null   int64
 17  three_g        2000 non-null   int64
 18  touch_screen   2000 non-null   int64
 19  wifi           2000 non-null   int64
 20  price_range    2000 non-null   int64
dtypes: float64(2), int64(19)
memory usage: 328.2 KB

#### Data Set 2 - Predicción de potencia generada por celdas solares
#### Descripción:
El archivo csv contiene 16 columnas. La descripción de cada columna es la siguiente:
- Day or Year: Día del año (0-365)
- Year: Año
- Mounth: Mes
- Day: Día
- First Hour of Period: Hora del día
- is day light: Si hay luz solar (Bool)
- Distance to solar noon: distancia al mediodia solar
- Average temperature (day): Temperatura promedio
- Average wind direction (day): Promedio de direccion del viento
- Average wind speed (day): Pomedio de velocidad del viento
- Sky Cover: Cobertura del cielo
- Visibility: Visibilidad
- Relative Humedity: Humedad Relativa
- Average Wind Speed Period: Promedio de velocidad del viento en ese periodo
- Average Barometric presure: Promedio de presion atmosferica
- Power Generated: Potencia generada

In [6]:
df_DataSet2 = pd.read_csv('/workspaces/Coder/data/raw/Energia_Solar.csv')
df_DataSet2.shape

(2920, 16)

In [7]:
df_DataSet2

,Day of Year,Year,Month,Day,First Hour of Period,Is Daylight,Distance to Solar Noon,Average Temperature (Day),Average Wind Direction (Day),Average Wind Speed (Day),Sky Cover,Visibility,Relative Humidity,Average Wind Speed (Period),Average Barometric Pressure (Period),Power Generated
0,245,2008,9,1,1,False,0.859897,69,28,7.5,0,10.0,75,8.0,29.82,0
1,245,2008,9,1,4,False,0.628535,69,28,7.5,0,10.0,77,5.0,29.85,0
2,245,2008,9,1,7,True,0.397172,69,28,7.5,0,10.0,70,0.0,29.89,5418
3,245,2008,9,1,10,True,0.165810,69,28,7.5,0,10.0,33,0.0,29.91,25477
4,245,2008,9,1,13,True,0.065553,69,28,7.5,0,10.0,21,3.0,29.89,30069
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2915,243,2009,8,31,10,True,0.166453,63,27,13.9,4,10.0,75,10.0,29.93,6995
2916,243,2009,8,31,13,True,0.064020,63,27,13.9,1,10.0,66,15.0,29.91,29490
2917,243,2009,8,31,16,True,0.294494,63,27,13.9,2,10.0,68,21.0,29.88,17257
2918,243,2009,8,31,19,True,0.524968,63,27,13.9,2,10.0,81,17.0,29.87,677
2919,243,2009,8,31,22,False,0.755442,63,27,13.9,1,10.0,81,11.0,29.90,0

#### Posibles Aplicaciones
1. Predicción de potencia generada a partir de las siguientes columnas:

Año / Dia del año / Pediodo / y todas las variables climaticas. 

Debería hacerse una selección de variables para ver cuales son las mas representativas.

In [8]:
df_DataSet2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2920 entries, 0 to 2919
Data columns (total 16 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Day of Year                           2920 non-null   int64
 1   Year                                  2920 non-null   int64
 2   Month                                 2920 non-null   int64
 3   Day                                   2920 non-null   int64
 4   First Hour of Period                  2920 non-null   int64
 5   Is Daylight                           2920 non-null   bool
 6   Distance to Solar Noon                2920 non-null   float64
 7   Average Temperature (Day)             2920 non-null   int64
 8   Average Wind Direction (Day)          2920 non-null   int64
 9   Average Wind Speed (Day)              2920 non-null   float64
 10  Sky Cover                             2920 non-null   int64
 11  Visibility                            2920 non-null   float64
 12  Relative Humidity                     2920 non-null   int64
 13  Average Wind Speed (Period)           2919 non-null   float64
 14  Average Barometric Pressure (Period)  2920 non-null   float64
 15  Power Generated                       2920 non-null   int64
dtypes: bool(1), float64(5), int64(10)
memory usage: 345.2 KB

#### Data Set 3 - Recomendación de lista de canciones Spotify
#### Descripción:
El archivo csv contiene 19 columnas. La descripción de cada columna es la siguiente:
- valence: Valencia
- year: año
- acosticnes: acustica
- artist: artista
- Danzability: ?
- Duration_ms: duracion en ms
- energy: energia
- explicit: explicito
- id: id
- instrumentalnes: 
- key
- livenes
- laudnes
- mode
- name
- popularity
- release_date
- speachnes
- tempo

In [9]:
df_DataSet3 = pd.read_csv('/workspaces/Coder/data/raw/Spotify.csv')
df_DataSet3.shape

(170653, 19)

In [14]:
df_DataSet3

,valence,year,acousticness,artists,danceability,duration_ms,energy,explicit,id,instrumentalness,key,liveness,loudness,mode,name,popularity,release_date,speechiness,tempo
0,0.0594,1921,0.98200,"['Sergei Rachmaninoff', 'James Levine', 'Berli...",0.279,831667,0.211,0,4BJqT0PrAfrxzMOxytFOIz,0.878000,10,0.6650,-20.096,1,"Piano Concerto No. 3 in D Minor, Op. 30: III. ...",4,1921,0.0366,80.954
1,0.9630,1921,0.73200,['Dennis Day'],0.819,180533,0.341,0,7xPhfUan2yNtyFG0cUWkt8,0.000000,7,0.1600,-12.441,1,Clancy Lowered the Boom,5,1921,0.4150,60.936
2,0.0394,1921,0.96100,['KHP Kridhamardawa Karaton Ngayogyakarta Hadi...,0.328,500062,0.166,0,1o6I8BglA6ylDMrIELygv1,0.913000,3,0.1010,-14.850,1,Gati Bali,5,1921,0.0339,110.339
3,0.1650,1921,0.96700,['Frank Parker'],0.275,210000,0.309,0,3ftBPsC5vPBKxYSee08FDH,0.000028,5,0.3810,-9.316,1,Danny Boy,3,1921,0.0354,100.109
4,0.2530,1921,0.95700,['Phil Regan'],0.418,166693,0.193,0,4d6HGyGT8e121BsdKmw9v6,0.000002,3,0.2290,-10.096,1,When Irish Eyes Are Smiling,2,1921,0.0380,101.665
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170648,0.6080,2020,0.08460,"['Anuel AA', 'Daddy Yankee', 'KAROL G', 'Ozuna...",0.786,301714,0.808,0,0KkIkfsLEJbrcIhYsCL7L5,0.000289,7,0.0822,-3.702,1,China,72,2020-05-29,0.0881,105.029
170649,0.7340,2020,0.20600,['Ashnikko'],0.717,150654,0.753,0,0OStKKAuXlxA0fMH54Qs6E,0.000000,7,0.1010,-6.020,1,Halloweenie III: Seven Days,68,2020-10-23,0.0605,137.936
170650,0.6370,2020,0.10100,['MAMAMOO'],0.634,211280,0.858,0,4BZXVFYCb76Q0Klojq4piV,0.000009,4,0.2580,-2.226,0,AYA,76,2020-11-03,0.0809,91.688
170651,0.1950,2020,0.00998,['Eminem'],0.671,337147,0.623,1,5SiZJoLXp3WOl3J4C8IK0d,0.000008,2,0.6430,-7.161,1,Darkness,70,2020-01-17,0.3080,75.055
170652,0.6420,2020,0.13200,"['KEVVO', 'J Balvin']",0.856,189507,0.721,1,7HmnJHfs0BkFzX4x8j0hkl,0.004710,7,0.1820,-4.928,1,Billetes Azules (with J Balvin),74,2020-10-16,0.1080,94.991

#### Posibles Aplicaciones
1. Recomendacion de cancion a partir de canciones escuchadas o elegidas por el usuario:

Las columnas a utilizar son:

Artist / Tempo / acusticnes / danzability / energy / instrumentalnes / speachnes / release_year

In [15]:
df_DataSet3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170653 entries, 0 to 170652
Data columns (total 19 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   valence           170653 non-null  float64
 1   year              170653 non-null  int64
 2   acousticness      170653 non-null  float64
 3   artists           170653 non-null  object
 4   danceability      170653 non-null  float64
 5   duration_ms       170653 non-null  int64
 6   energy            170653 non-null  float64
 7   explicit          170653 non-null  int64
 8   id                170653 non-null  object
 9   instrumentalness  170653 non-null  float64
 10  key               170653 non-null  int64
 11  liveness          170653 non-null  float64
 12  loudness          170653 non-null  float64
 13  mode              170653 non-null  int64
 14  name              170653 non-null  object
 15  popularity        170653 non-null  int64
 16  release_date      170653 non-null  object
 17  speechiness       170653 non-null  float64
 18  tempo             170653 non-null  float64
dtypes: float64(9), int64(6), object(4)
memory usage: 24.7+ MB

#### Data Set 4 - Clasifición de tweets sobre desastres
#### Descripción:
El archivo csv contiene 5 columnas. La descripción de cada columna es la siguiente:
- id: Identificador único del tweet
- text: Texto del tweet
- location: Ubicación del tweetero
- keyword: Palabra clave del tweet
- target: Determina si el tweet se refiere a un desastre (accidente, desastre natural, etc.) o no. Valor 1 o 0, respectivamente.

In [10]:
df_DataSet4 = pd.read_csv('/workspaces/Coder/data/raw/tweets_disaster.csv')
df_DataSet4.shape

(7613, 5)

In [11]:
df_DataSet4

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1

#### Posibles Aplicaciones
1. Clasificación de los tweets en desastres o no desastres basado en Procesamiento de Lenguaje Natural (Natural Language Processing (NLP)):

Las columnas a utilizar son:

text / target

NOTA: Si bien se requería que las bases de datos tuvieran al menos 15 columnas, en este caso con las columnas text y target es sufieicnet para realizar la clasificación. Siendo una aplicación típica de NLP, me pareció pertinente agregarla para poder abordar dicho tema.

In [12]:
df_DataSet4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7613 non-null   int64
 1   keyword   7552 non-null   object
 2   location  5080 non-null   object
 3   text      7613 non-null   object
 4   target    7613 non-null   int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB